Repository rlefko/power-pto: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

mypy:
  name: mypy
  entry: docker compose exec -T api mypy app/ tests/
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && yarn --silent lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && yarn --silent format:check'
  language: system
  pass_filenames: false

🏗️ Add policy version date-range resolution and hire_date to EmployeeInfo
  backend/app/models/enums.py
  backend/app/services/employee.py
  backend/app/services/policy.py
Due: mypy

🏗️ Add accrual schemas for payroll webhook and run responses
  backend/app/schemas/accrual.py
Due: mypy

⚙️ Add accrual engine with time-based and hours-worked pathways
  backend/app/services/accrual.py
Due: mypy

🔌 Add accrual trigger endpoint and payroll webhook
  backend/app/api/accruals.py
  backend/app/api/router.py
Due: mypy

👷 Add accrual worker scheduler and update docker-compose
  backend/app/worker.py
  docker-compose.yml
Due: mypy

✅ Add comprehensive accrual engine and payroll idempotency tests
  backend/tests/test_accruals.py
Due: mypy

🔒 Remove employee IDs from accrual error logs to avoid PII exposure
  backend/app/services/accrual.py
Due: mypy

⚙️ Accrual Engines: Time-Based, Hours-Worked, Proration, Payroll Webhook, and Idempotency (#21)
  backend/app/api/accruals.py
  backend/app/api/router.py
  backend/app/models/enums.py
  backend/app/schemas/accrual.py
  backend/app/services/accrual.py
  backend/app/services/employee.py
  backend/app/services/policy.py
  backend/app/worker.py
  backend/tests/test_accruals.py
  docker-compose.yml
Due: mypy

🔧 Migrate Python tooling from pip to uv and mypy to ty
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
Due: none

🔧 Fix type annotations for ty compatibility across codebase
  backend/app/middleware.py
  backend/app/models/audit.py
  backend/app/models/balance.py
  backend/app/models/base.py
  backend/app/models/ledger.py
  backend/app/models/request.py
  backend/app/services/accrual.py
  backend/app/services/policy.py
  backend/pyproject.toml
  backend/tests/test_assignments.py
  backend/tests/test_balances.py
  backend/tests/test_policies.py
  backend/tests/test_requests.py
  backend/tests/test_schemas.py
Due: mypy

📅 Add company holiday CRUD service and API endpoints
  backend/app/api/holidays.py
  backend/app/api/router.py
  backend/app/schemas/holiday.py
  backend/app/services/holiday.py
Due: mypy

👤 Add employee work schedule management API
  backend/app/api/employees.py
  backend/app/api/router.py
  backend/app/schemas/employee.py
Due: mypy

🔄 Implement carryover and expiration processing engines
  backend/app/api/accruals.py
  backend/app/schemas/accrual.py
  backend/app/services/carryover.py
  backend/app/worker.py
Due: mypy

📊 Add audit log query and reporting endpoints
  backend/app/api/reports.py
  backend/app/api/router.py
  backend/app/schemas/report.py
  backend/app/services/report.py
Due: mypy

✅ Add tests for holidays, employees, carryover, expiration, and reporting
  backend/app/services/carryover.py
  backend/tests/test_carryover.py
  backend/tests/test_employees.py
  backend/tests/test_holidays.py
  backend/tests/test_reports.py
Due: mypy

🔒 Remove sensitive IDs from error log messages
  backend/app/services/carryover.py
Due: mypy

🚀 Advanced Features: Tooling Migration, Holidays, Schedules, Carryover, Expiration, and Reporting (#22)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  backend/Dockerfile
  backend/app/api/accruals.py
  backend/app/api/employees.py
  backend/app/api/holidays.py
  backend/app/api/reports.py
  backend/app/api/router.py
  backend/app/middleware.py
  backend/app/models/audit.py
  backend/app/models/balance.py
  backend/app/models/base.py
  backend/app/models/ledger.py
  backend/app/models/request.py
  backend/app/schemas/accrual.py
  backend/app/schemas/employee.py
  backend/app/schemas/holiday.py
  backend/app/schemas/report.py
  backend/app/services/accrual.py
  backend/app/services/carryover.py
  backend/app/services/holiday.py
  backend/app/services/policy.py
  backend/app/services/report.py
  backend/app/worker.py
  backend/pyproject.toml
  backend/tests/test_assignments.py
  backend/tests/test_balances.py
  backend/tests/test_carryover.py
  backend/tests/test_employees.py
  backend/tests/test_holidays.py
  backend/tests/test_policies.py
  backend/tests/test_reports.py
  backend/tests/test_requests.py
  backend/tests/test_schemas.py
  backend/uv.lock
  docker-compose.yml
Due: mypy

🏗️ Add Tailwind CSS v4, shadcn/ui, and path aliases
  frontend/.prettierrc
  frontend/components.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: eslint, prettier

🔌 Add API client, TypeScript types, and auth context
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/endpoints.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/auth/auth-context.tsx
  frontend/src/lib/auth/use-auth.ts
  frontend/src/lib/query-keys.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/lib/utils/format.ts
Due: eslint, prettier

🧭 Add React Router, layout shell, and sidebar navigation
  frontend/src/App.tsx
  frontend/src/components/layout/app-header.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/root-layout.tsx
  frontend/src/components/shared/error-fallback.tsx
  frontend/src/components/shared/page-header.tsx
  frontend/src/main.tsx
  frontend/src/pages/placeholder.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

📋 Add shared data components and utility display widgets
  frontend/src/components/shared/category-badge.tsx
  frontend/src/components/shared/confirm-dialog.tsx
  frontend/src/components/shared/data-table.tsx
  frontend/src/components/shared/duration-display.tsx
  frontend/src/components/shared/empty-state.tsx
  frontend/src/components/shared/loading-skeleton.tsx
  frontend/src/components/shared/status-badge.tsx
Due: eslint, prettier

📑 Add policies list and detail pages
  frontend/src/features/policies/components/policy-card.tsx
  frontend/src/features/policies/components/policy-form.tsx
  frontend/src/features/policies/components/policy-settings-display.tsx
  frontend/src/features/policies/components/policy-version-list.tsx
  frontend/src/features/policies/hooks/use-policies.ts
  frontend/src/features/policies/pages/policies-page.tsx
  frontend/src/features/policies/pages/policy-detail-page.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

🔗 Add assignments UI with employee assignment dialog
  frontend/src/features/assignments/components/assign-employee-dialog.tsx
  frontend/src/features/assignments/components/assignment-list.tsx
  frontend/src/features/assignments/hooks/use-assignments.ts
  frontend/src/features/policies/pages/policy-detail-page.tsx
Due: eslint, prettier

💰 Add my balances page with balance cards
  frontend/src/features/balances/components/balance-card.tsx
  frontend/src/features/balances/hooks/use-balances.ts
  frontend/src/features/balances/pages/my-balances-page.tsx
Due: eslint, prettier

📝 Add request submission modal and my requests page
  frontend/src/features/balances/pages/my-balances-page.tsx
  frontend/src/features/requests/components/request-form.tsx
  frontend/src/features/requests/components/submit-request-dialog.tsx
  frontend/src/features/requests/hooks/use-requests.ts
  frontend/src/features/requests/pages/my-requests-page.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

✅ Add approvals inbox with approve and deny actions
  frontend/src/features/requests/components/decision-dialog.tsx
  frontend/src/features/requests/pages/approvals-page.tsx
Due: eslint, prettier

👥 Add employees list and detail pages with balance adjustments
  frontend/src/features/balances/components/ledger-table.tsx
  frontend/src/features/employees/components/adjustment-dialog.tsx
  frontend/src/features/employees/components/assignment-list-by-employee.tsx
  frontend/src/features/employees/components/employee-form.tsx
  frontend/src/features/employees/hooks/use-employee-mutations.ts
  frontend/src/features/employees/hooks/use-employees.ts
  frontend/src/features/employees/pages/employee-detail-page.tsx
  frontend/src/features/employees/pages/employees-page.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

🗓️ Add holidays management page
  frontend/src/features/holidays/components/add-holiday-dialog.tsx
  frontend/src/features/holidays/hooks/use-holidays.ts
  frontend/src/features/holidays/pages/holidays-page.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

📊 Add audit log page
  frontend/src/features/audit/hooks/use-audit-log.ts
  frontend/src/features/audit/pages/audit-log-page.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

✨ Add 404 page and remove placeholder pages
  frontend/src/pages/not-found.tsx
  frontend/src/pages/placeholder.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

📐 Add architecture documentation with Mermaid diagrams
  docs/architecture.md
Due: none

📡 Add API reference documentation
  docs/api.md
Due: none

📝 Add ADR for ledger-first balance computation
  docs/decisions/adr-0001-ledger-vs-derived.md
Due: none

📝 Add ADR for immutable policy versioning
  docs/decisions/adr-0002-policy-versioning.md
Due: none

🚀 Add future deployment documentation
  docs/deployment.md
Due: none

📚 Update README with links to all documentation
  README.md
Due: none

🗑️ Remove ADRs and their references
  README.md
  docs/architecture.md
  docs/decisions/adr-0001-ledger-vs-derived.md
  docs/decisions/adr-0002-policy-versioning.md
Due: none

📚 Rewrite README with accurate commands, badges, and service URLs
  README.md
Due: none

📄 Documentation: Architecture, API Reference, ADRs, and Deployment Plan (#24)
  README.md
  docs/api.md
  docs/architecture.md
  docs/deployment.md
Due: none

Path conditions:
  mypy: any of: ^backend/ and \.py$
  eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  prettier: any of: ^frontend/src/.*\.(ts|tsx|css|json)$
