Repository rlefko/power-pto: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        name: ruff check
        args: [--fix, --exit-non-zero-on-fix, --config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff-format
        name: ruff format
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: docker compose exec -T api mypy app/ tests/
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && yarn --silent lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && yarn --silent format:check'
        language: system
        files: ^frontend/src/.*\.(ts|tsx|css|json)$
        pass_filenames: false

🏗️ Run Alembic migrations automatically on API container startup
  backend/Dockerfile
  backend/entrypoint.sh
  docker-compose.yml
Due: none

🐛 Fix balances API response unwrapping in frontend
  frontend/src/lib/api/endpoints.ts
Due: eslint, prettier

🐛 Fix Auto-Migrations on Startup and Balances Response Parsing (#25)
  backend/Dockerfile
  backend/entrypoint.sh
  docker-compose.yml
  frontend/src/lib/api/endpoints.ts
Due: eslint, prettier

🐛 Fix PATCH/PUT mismatch for policy update endpoint
  frontend/src/lib/api/endpoints.ts
Due: eslint, prettier

🐛 Fix API response shape mismatches for employees and reports endpoints
  frontend/src/lib/api/endpoints.ts
Due: eslint, prettier

🌱 Add seed script with sample data for development
  backend/app/seed.py
Due: mypy

🔧 Add make seed target
  Makefile
Due: none

🎛️ Add user switcher to app header for dev testing
  frontend/src/components/layout/app-header.tsx
Due: eslint, prettier

🐛 Fix audit log filters returning empty results due to case mismatch
  frontend/src/features/audit/pages/audit-log-page.tsx
Due: eslint, prettier

🐛 Invalidate balance cache on request approve and deny
  frontend/src/features/requests/hooks/use-requests.ts
Due: eslint, prettier

🐛 Display request duration in days instead of raw minutes
  frontend/src/features/requests/pages/approvals-page.tsx
  frontend/src/features/requests/pages/my-requests-page.tsx
Due: eslint, prettier

💾 Persist auth state in localStorage across page refresh
  frontend/src/lib/auth/auth-context.tsx
Due: eslint, prettier

🙈 Add build/ to gitignore
  .gitignore
Due: none

🐛 Resolve entity IDs to human-readable names across frontend
  frontend/src/features/assignments/components/assignment-list.tsx
  frontend/src/features/audit/pages/audit-log-page.tsx
  frontend/src/features/balances/components/ledger-table.tsx
  frontend/src/features/employees/components/assignment-list-by-employee.tsx
  frontend/src/features/requests/pages/approvals-page.tsx
  frontend/src/features/requests/pages/my-requests-page.tsx
  frontend/src/lib/utils/format.ts
Due: eslint, prettier

🐛🌱 Fix Frontend Bugs and Add Seed Script for Development (#26)
  .gitignore
  Makefile
  backend/app/seed.py
  frontend/src/components/layout/app-header.tsx
  frontend/src/features/assignments/components/assignment-list.tsx
  frontend/src/features/audit/pages/audit-log-page.tsx
  frontend/src/features/balances/components/ledger-table.tsx
  frontend/src/features/employees/components/assignment-list-by-employee.tsx
  frontend/src/features/requests/hooks/use-requests.ts
  frontend/src/features/requests/pages/approvals-page.tsx
  frontend/src/features/requests/pages/my-requests-page.tsx
  frontend/src/lib/api/endpoints.ts
  frontend/src/lib/auth/auth-context.tsx
  frontend/src/lib/utils/format.ts
Due: mypy, eslint, prettier

🚀 Add one-command dev setup with setup script and enhanced README
  Makefile
  README.md
  setup-environment.sh
Due: none

🐛 Fix spinner exit code handling and yarn engine compatibility
  setup-environment.sh
Due: none

🚀 One-Command Dev Setup and Enhanced README (#27)
  Makefile
  README.md
  setup-environment.sh
Due: none

📄 Rewrite README as comprehensive submission document
  README.md
Due: none

📄 Rewrite README as comprehensive submission document (#28)
  README.md
Due: none

📄 Update README.md
  README.md
Due: none

🐛 Fix timezone mismatch in time-off request duration calculation
  backend/app/services/duration.py
  backend/app/services/request.py
  backend/tests/test_duration.py
  frontend/src/features/requests/components/request-form.tsx
Due: mypy, eslint, prettier

🐛 Fix timezone mismatch in time-off request duration calculation (#29)
  backend/app/services/duration.py
  backend/app/services/request.py
  backend/tests/test_duration.py
  frontend/src/features/requests/components/request-form.tsx
Due: mypy, eslint, prettier

📦 Add recharts and shadcn chart component with chart color constants
  frontend/package.json
  frontend/src/components/ui/chart.tsx
  frontend/src/lib/query-keys.ts
  frontend/src/lib/utils/constants.ts
  frontend/yarn.lock
Due: eslint, prettier

✨ Add radial progress charts and summary donut to My Balances page
  frontend/src/features/balances/components/balance-card.tsx
  frontend/src/features/balances/components/balance-radial-chart.tsx
  frontend/src/features/balances/components/balance-summary-chart.tsx
  frontend/src/features/balances/pages/my-balances-page.tsx
Due: eslint, prettier

✨ Add admin dashboard page with KPI cards and charts
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/features/dashboard/components/kpi-cards.tsx
  frontend/src/features/dashboard/components/request-status-chart.tsx
  frontend/src/features/dashboard/components/team-balance-chart.tsx
  frontend/src/features/dashboard/components/usage-by-category-chart.tsx
  frontend/src/features/dashboard/hooks/use-reports.ts
  frontend/src/features/dashboard/pages/admin-dashboard-page.tsx
  frontend/src/routes.tsx
Due: eslint, prettier

✨ Add balance timeline area chart to employee detail ledger tab
  frontend/src/features/balances/components/balance-timeline-chart.tsx
  frontend/src/features/employees/pages/employee-detail-page.tsx
Due: eslint, prettier

✨ Add request status summary cards to My Requests page
  frontend/src/features/requests/components/request-status-summary.tsx
  frontend/src/features/requests/pages/my-requests-page.tsx
Due: eslint, prettier

✨ Add Dashboard Charts and Visualizations (#30)
  frontend/package.json
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/features/balances/components/balance-card.tsx
  frontend/src/features/balances/components/balance-radial-chart.tsx
  frontend/src/features/balances/components/balance-summary-chart.tsx
  frontend/src/features/balances/components/balance-timeline-chart.tsx
  frontend/src/features/balances/pages/my-balances-page.tsx
  frontend/src/features/dashboard/components/kpi-cards.tsx
  frontend/src/features/dashboard/components/request-status-chart.tsx
  frontend/src/features/dashboard/components/team-balance-chart.tsx
  frontend/src/features/dashboard/components/usage-by-category-chart.tsx
  frontend/src/features/dashboard/hooks/use-reports.ts
  frontend/src/features/dashboard/pages/admin-dashboard-page.tsx
  frontend/src/features/employees/pages/employee-detail-page.tsx
  frontend/src/features/requests/components/request-status-summary.tsx
  frontend/src/features/requests/pages/my-requests-page.tsx
  frontend/src/lib/query-keys.ts
  frontend/src/lib/utils/constants.ts
  frontend/src/routes.tsx
  frontend/yarn.lock
Due: eslint, prettier
